@charset "ISO-8859-1";

:root{
	
	--font-cairo:'Cairo', sans-serif;
--font-fredoka:'Fredoka', sans-serif;
--font-noto:'Noto Sans', sans-serif;
}


*{
	margin: 0;
	padding : 0 ;
		font-family: var(--font-fredoka);
	
}


/*START InsertStudent_S Form Style*/

.infos{

	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	width:500px;
	margin: auto;
	padding: 30px;
	border-radius: 2%;
	border:2px solid #ececec;
    box-shadow: -1px 4px 20px 0px #88888859;
    transform: translateY(35px);
    text-align:center;
}

.infos input{
	
	margin: 30px;
	width: 400px;
	height: 50px;
	padding-left:20px;

}

.infos input:hover{
	
	
	border: 1px solid #009688;

}

.infos input:last-of-type{
	
	width:100px;
	margin: auto;
	padding-left:0px;
	
	background-color: white;
	border : 1px solid #009688;
	border-radius: 1%;
	color : #009688;
}	
	
.infos input:last-of-type:hover{
	
		background-color: #009688;
		color: white;
	
}

/*END InsertStudent_S Form Style*/


/*START StudentTab_S Table style*/

.table{
	
	margin: auto;
	width: 1000px;
	border-radius: 2%;
	border:2px solid #ececec;
	
    box-shadow: -1px 4px 20px 0px #88888859;
    padding: 30px;
    transform: translateY(35px);
}

.table tr{
	margin: 30px;
	padding: 20px;
	
}
.table thead{
	background-color: #009688;
	color: white;
	font-size: 20px;
}
.table thead tr th{
padding: 20px;
}
.table tr td input{
	
	text-align: center;
	outline:none;
	border:none;
	background-color:transparent;	
}
	
.table tr:hover{
	background-color : #9e9e9e21;
	
}
.table tr .action{
	
	padding: 5px;
	
}
.table tr .action input{
	
	padding: 5px;
	margin: 5px;
	border-radius: 5px;
	
	}
	.table tr .action input:first-of-type{
	
		background-color: white;
	border : 1px solid #df3131;
	color : #df3131;
	}
	
		.table tr .action input:last-of-type{
	
		background-color: white;
	border : 1px solid #009688;
	color : #009688;
	}
	.table tr .action input:first-of-type:hover{
	background-color: #df3131;
		color: white;
		}
	
	
	.table tr .action input:last-of-type:hover{
	background-color: #009688;
		color: white;
	}
	
	/*END StudentTab_S Table style*/
	

/*START StudentTab_S Delete from Style*/

.delete{
	margin: auto;
	height:100%;
	width: 985px;
	border-radius: 2%;
	border:2px solid #ececec;
	padding:5px;
    box-shadow: -1px 4px 20px 0px #88888859;
    display:flex;
    flex-wrap:nowrap;
    justify-content:space-beetwen;
}
.delete span{
	height: 100%;
	width: 5%;
	color: red;
	padding: 25px;
	
}
.delete input{
	margin: 15px;
	height: 40px;
	width:65%;
	padding-left:20px;
	border: 1px solid black;
	
	
}
.delete button{
	width:15%;
		background-color: white;
	border : 1px solid #df3131;
	border-radius: 1%;
	color : #df3131;
	height:40px;
	margin: 15px;
	
	
}

.delete input:hover{
	
	
	border: 1px solid #df3131;

}
    
.delete button:hover{
	
		background-color: #df3131;
		color: white;
	
}


/*END StudentTab_S Delete from Style*/



/*START Login_J Style*/

.LoginForm{
	
		display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	width:500px;
	margin: auto;
	padding: 30px;
	border-radius: 2%;
	border:2px solid #ececec;
    box-shadow: -1px 4px 20px 0px #88888859;
    transform: translateY(35px);
    text-align:center;
}

.LoginForm input{
		margin: 30px;
	width: 400px;
	height: 50px;
	padding-left:20px;
}

.LoginForm input:hover{
	
	
	border: 1px solid #009688;

}

.LoginForm input:last-of-type{
	
	width:100px;
	margin: auto;
	padding-left:0px;
	
	background-color: white;
	border : 1px solid #009688;
	border-radius: 1%;
	color : #009688;
}	
	
.LoginForm input:last-of-type:hover{
	
		background-color: #009688;
		color: white;
	
}


/*END Login_J Style*/


/*START NavBar style*/

.container{
	
	width:1000px;
	margin:auto;
	
}

.navBar{
	
	width:1000px;
	heigth: 100%;
	margin:auto;
	
}

.navBar{
	
	background-color:black;
}

.list ul{
	 height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    padding:20px;
}
.list ul li a{
	
	text-decoration: none;
    font-size: 14px;
    padding: 39px 10px;
    color:white;
    
	}




/*END NavBar style */
