<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>TP_SudentManagement</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>test</display-name>
    <servlet-name>test</servlet-name>
    <servlet-class>test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DBTable</display-name>
    <servlet-name>DBTable</servlet-name>
    <servlet-class>DBTable</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBTable</servlet-name>
    <url-pattern>/DBTable</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DBTab</display-name>
    <servlet-name>DBTab</servlet-name>
    <servlet-class>DBTab</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBTab</servlet-name>
    <url-pattern>/DBTab</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DBTabl</display-name>
    <servlet-name>DBTabl</servlet-name>
    <servlet-class>DBTabl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBTabl</servlet-name>
    <url-pattern>/DBTabl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DBT</display-name>
    <servlet-name>DBT</servlet-name>
    <servlet-class>DBT</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBT</servlet-name>
    <url-pattern>/DBT</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletTest</display-name>
    <servlet-name>ServletTest</servlet-name>
    <servlet-class>servlet_test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletTest</servlet-name>
    <url-pattern>/ServletTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertStudent_S</display-name>
    <servlet-name>InsertStudent_S</servlet-name>
    <servlet-class>InsertStudent_S</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertStudent_S</servlet-name>
    <url-pattern>/InsertStudent_S</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentTab_S</display-name>
    <servlet-name>StudentTab_S</servlet-name>
    <servlet-class>StudentTab_S</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentTab_S</servlet-name>
    <url-pattern>/StudentTab_S</url-pattern>
  </servlet-mapping>
</web-app>